.text-center
{
	color: white;
	font-family: 'Pacifico', cursive;
	text-shadow: 1px 10px 1px black, 0 0 25px #00efdf, 0 0 5px darkblue;
	margin-top: 100px;
	
}
.panel
{
	opacity: ;
}
.panel-title
{

   font-family: 'Pacifico', cursive;
}
.slider
{
	position: absolute;
	z-index: -1;
}